body {
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
}

a {
   color: #4CAF50;
   text-decoration: none;
   font-weight: bold;
}


a:hover {
   text-decoration: underline;
}

h2 {
    margin: 0;
    padding: 20px;
    background-color: #336699;
    color: white;
    text-align: center;
}

h3{
margin-left: 140px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

textarea {
    width: 80%;
    height: 200px;
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #336699;
    color: white;
    cursor: pointer;
}
button:hover{
     background-color: #2e5c8a;
}

#summerize_text{
     margin-top:8px;
    margin-left:8px;
    font-size: 14px;

}

  .summarize-container {
                border: 1px solid black;
                width: 80%;
                height: 150px;
                padding: 10px;
                font-size: 18px;
                border: 1px solid #ccc;
                border-radius: 5px;
                background-color: #f9f9f9;
                margin-left: 140px;
                overflow: auto;
            }

            .summarize-count {
                font-size: 14px;
                margin-bottom: 10px;
                margin-left: 140px;
            }

            .count {
                font-size: 14px;
		margin-top: 10px;
		margin-left: 140px;
                margin-bottom: 5px;
            }