<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Text Summarizer</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>

    </head>
    <body>
        <h2>Text Summarizer</h2>
<div class="count" id="text-count"></div>
        <form>
            <textarea id="text" placeholder="Enter text here" oninput="updateCount()"></textarea>
            <button type="button" onclick="summarizer()">Summarize</button>
        </form>
<h3>Summerized Text:</h3>
        <div class="summarize-count" id="summarize-count"></div>
         <div class="summarize-container" id="summarize-container"  oninput="updateCount()">
            <div id="summarize_text"></div>
        </div>

    </body>	
</html>